/* Reset CSS box model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Body styling */
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}


/* Center page content and set width */
header, main, footer {
  width: 840px;
  margin: 0 auto;
}
